In [6]:
if 2 < 3:
    print('kekecilan')

kekecilan

In [8]:
if 3 > 2:
    print('kegedean')

kegedan

In [10]:
if 3 != 2:
    print('kagak sama')

kagak sama

In [12]:
if 'Matt' in 'Matthew':
    print('Hi Matt!')

Hi Matt!

In [20]:
if 'Ris' in 'Matthew':
    print ('Hi!')
    print ('Woi!')
    print ('Hahahaha')
print ('I love you')

I love you

In [38]:
if 3 != 3:
    print ("it's inequal")
    print ("itu kagak sama")
print ('sama deng')

if 4 > 3:
    print ('kegedean')
print('itu gak sama')
    
if 'Matt' in 'Matthew':
    print ('Yoeh')
        
if 'gua' in 'kita':
    print('ada')
    print('kagak ada')
print('CAPEK')
print('udahan')

sama deng
kegedean
itu gak sama
Yoeh
CAPEK
udahan

In [44]:
harga_buku = 20000000000000000
uang = 2222222
harga_baju =11111

if uang > harga_buku:
    print('no money')
elif harga_baju < harga_buku:
    print('more expensive')
else:
    print ('beli baju aja lah')

more expensive

In [45]:
harga_buku = 20000000000000000
uang = 2222222
harga_baju =11111

if uang < harga_buku:
    print('no money')
elif harga_baju < harga_buku:
    print('more expensive')
else:
    print ('beli baju aja lah')

no money

In [46]:
harga_buku = 20000000000000000
uang = 2222222
harga_baju =11111

if uang > harga_buku:
    print('no money')
elif harga_baju > harga_buku:
    print('more expensive')
else:
    print ('beli baju aja lah')

beli baju aja lah

In [49]:
harga_buku = 20000000000000000
uang = 2222222
harga_baju =11111

if uang > harga_buku:
    print('no money')
elif harga_baju > harga_buku:
    print('more expensive')
else:
    print ('beli baju aja lah')

beli baju aja lah

In [50]:
if 1 != 2: print('gak'); print('sama'); print('bro')

gak
sama
bro

In [53]:
x = 7

if x==5: print('au'); print('ah'); print('gelap')
elif x==3: print('au'); print('ah'); print('terang')
elif x==7: print('nah'); print('ini'); print('bener')

nah
ini
bener

In [54]:
x = 7

if x==5: print('au'); print('ah'); print('gelap')
elif x==3: print('au'); print('ah'); print('terang')
else: print('nah'); print('ini'); print('bener')

nah
ini
bener

In [55]:
x = 7

if x==5: 
    print('au')
    print('ah')
    print('gelap')
elif x==3: 
    print('au')
    print('ah')
    print('terang')
else:
    print('nah')
    print('ini')
    print('bener')

nah
ini
bener

In [56]:
banjir = False
print ('ayok maen bola' if not banjir else 'nonton')

ayok maen bola

In [57]:
banjir = False
print ('ayok maen bola' if  banjir else 'nonton')

nonton

In [35]:
age = 30
umur = 'muda' if age < 21 else 'adult'

print (umur)

adult

In [65]:
'yoi' if ('Matt' in [1,2,3]) else ('kadit')

'kadit'

In [67]:
if True:
    pass
print ('yuk')

yuk

In [92]:
n = 20
while n > 0:
    n -=1
    print(n)
    n > -1

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [97]:
l = 15
while l<35:
    l =l+ 1
    print(l)
    l > -1

16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

In [2]:
if True:
    pass
print('foo')

foo

In [3]:
for (a,b) in [(1,2),(3,4),(5,6),(7,8)]:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [9]:
zzz = {'k1':1,'k2':2,'k3':3}
for (a,b) in zzz.items():
    print(a)
    print(b)

k1
1
k2
2
k3
3

In [17]:
x = 0
while x < 10:
    print(f'Now this is {x}')
    x = x + 1

Now this is 0
Now this is 1
Now this is 2
Now this is 3
Now this is 4
Now this is 5
Now this is 6
Now this is 7
Now this is 8
Now this is 9

In [3]:
for z in 'this is a letter':
    if z == 'a':
        continue
    print(z)

t
h
i
s

i
s


l
e
t
t
e
r

In [7]:
x = 0
while x < 5:
    if x == 4:
        break
    print(x)
    x += 1

0
1
2
3

In [8]:
x = 0
while x < 4:
    print(x)
    x += 1

0
1
2
3

In [9]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
z = 0
y = ('a','b','c','d','e')

for x in y:
    print('Ini indeks {} untuk huruf {}'.format(z,x))
    z += 1

Ini indeks 0 untuk huruf a
Ini indeks 1 untuk huruf b
Ini indeks 2 untuk huruf c
Ini indeks 3 untuk huruf d
Ini indeks 4 untuk huruf e

In [23]:
for x in y:
    print(x)

a
b
c
d
e

In [2]:
x = 0
while x < 10:
    print(f'ini angka {x}')
    x += 1

ini angka 0
ini angka 1
ini angka 2
ini angka 3
ini angka 4
ini angka 5
ini angka 6
ini angka 7
ini angka 8
ini angka 9

In [6]:
x = [0,1,2,3,4]
for y in x:
    pass
print (x)

[0, 1, 2, 3, 4]

In [13]:
for x in 'zxcvbnm':
    if x == 'x':
        continue
    print (x)

z
c
v
b
n
m

In [15]:
x = 0
while x < 11:
    print(f'Ini adalah {x}')
    x += 1

Ini adalah 0
Ini adalah 1
Ini adalah 2
Ini adalah 3
Ini adalah 4
Ini adalah 5
Ini adalah 6
Ini adalah 7
Ini adalah 8
Ini adalah 9
Ini adalah 10

In [21]:
x = 0
while x < 1000:
    print(f'Ini adalah {x}')
    x += 1
    if x == 11:
        break

Ini adalah 0
Ini adalah 1
Ini adalah 2
Ini adalah 3
Ini adalah 4
Ini adalah 5
Ini adalah 6
Ini adalah 7
Ini adalah 8
Ini adalah 9
Ini adalah 10

In [22]:
for num in range(2,10,2):
    print (num)

2
4
6
8

In [23]:
list (range(2,10,2))

[2, 4, 6, 8]

In [25]:
no_indeks = 0
for x in 'asdfghjkl':
    print(f'Untuk indeks {no_indeks}, berisi {x}')
    no_indeks += 1

Untuk indeks 0, berisi a
Untuk indeks 1, berisi s
Untuk indeks 2, berisi d
Untuk indeks 3, berisi f
Untuk indeks 4, berisi g
Untuk indeks 5, berisi h
Untuk indeks 6, berisi j
Untuk indeks 7, berisi k
Untuk indeks 8, berisi l

In [27]:
no_indeks = 0
for x in 'asdfghjkl':
    print ('asdfghjkl'[no_indeks])
    no_indeks += 1

a
s
d
f
g
h
j
k
l

In [29]:
for item in enumerate('abcdefghjkl'):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'j')
(9, 'k')
(10, 'l')

In [32]:
for index,letter in enumerate('abcdefghjkl'):
    print (index)
    print (letter)
    print ('\n')

0
a


1
b


2
c


3
d


4
e


5
f


6
g


7
h


8
j


9
k


10
l

In [33]:
my_list_1 = [1,2,3]
my_list_2 = [4,5,6]

for x in zip(my_list_1,my_list_2):
    print(x)

(1, 4)
(2, 5)
(3, 6)

In [34]:
print (list(zip(my_list_1,my_list_2)))

[(1, 4), (2, 5), (3, 6)]

In [44]:
from random import shuffle
my_list = [1,2,3,4,5]
shuffle(my_list)
print(my_list)

[1, 4, 5, 3, 2]

In [45]:
print(my_list)

[1, 4, 5, 3, 2]

In [53]:
from random import randint
num = randint(0,10)
print (num)

6

In [5]:
# NUMBER 1

In [9]:
result = int(input('INI ADALAH ANGKA '))
if result % 2 == 0:
    print('DAN INI ADALAH ANGKA GENAP')
else:
    print('DAN INI ADALAH ANGKA GANJIL')

INI ADALAH ANGKA 3
DAN INI ADALAH ANGKA GANJIL

In [10]:
# NUMBER 2

In [12]:
for y in range(1,21):
    if 20%y == 0:
        print (y)

1
2
4
5
10
20

In [13]:
# NUMBER 3

In [14]:
num = int (input('how?'))
if num < 100 and num >= 95:
    print('A')
elif num < 90 and num >= 85:
    print ('A-')

how?89
A-

In [15]:
# NUMBER 4

In [16]:
from random import randint
tebakan = randint (1,9)

muter = True
while (muter):
    guess_num = int (input('hayo tebak!'))
    if (guess_num < tebakan):
        print('too low')
    elif (guess_num > tebakan):
        print('too high')
    else:
        print('got it')
        muter = False

hayo tebak!1
too low
hayo tebak!2
too low
hayo tebak!3
too low
hayo tebak!4
too low
hayo tebak!5
got it